extends layout

block head
    link(rel='stylesheet', type='text/css', href='/stylesheets/style-markets.css')

block content
    h1#title #{title}
    hr.divisoria
    // CAROUSEL
    div.carousel.slide(id='myCarousel' data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#myCarousel' data-slide-to='0')
            li(data-target='#myCarousel' data-slide-to='1')
            li(data-target='#myCarousel' data-slide-to='2')
            li(data-target='#myCarousel' data-slide-to='3')
        // Wrapper for slides
        div.carousel-inner(role='listbox')
            div.item.active
                img.img-carousel(src='../images/fondo8.jpg' alt='imagen')
            div.item
                img.img-carousel(src='../images/fondo7.jpg' alt='imagen')
            div.item
                img.img-carousel(src='../images/fondo6.jpg' alt='imagen')
            div.item
                img.img-carousel(src='../images/fondo5.jpg' alt='imagen')
        // Left-Right controls
        a.left.carousel-control(href='#myCarousel' role='button' data-slide='prev')
            span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
            span.sr-only Previous
        a.right.carousel-control(href='#myCarousel' role='button' data-slide='next')
            span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
            span.sr-only Next
    hr.divisoria
    // PRINCIPAL MARKETS INDEXES
    div#indexes_box
        h2 Índices Bursátiles
        div#chart.row
            // Grafica
            for val in index_list
                .col-sm-3.col-xs-6
                    h3.index-name #{val.name}
                    if val.growth > 0
                        img.index-image.img-responsive.center-image(src='../images/positive_trend.svg')
                        h4.center-text #{val.value}
                        h4.index-pos-value ( #{val.growth} % )
                    else
                        img.index-image.img-responsive.center-image(src='../images/negative_trend.svg')
                        h3.index-neg-value ( #{val.growth} % )

block scripts